<% include partials/header %>
<div class="container top-to-nav">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Pilgrimage</h1>
            <p>The guidebook for TV/movie lovers to make Pilgrimages.</p>
            <!-- <a class="btn btn-primary btn-lg" href="/matching/new">add a new matching</a> -->
            <p>
                <a class="btn btn-primary btn-lg" href="/shows">Search Shows</a>
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="/cities">Search Cities</a>
            </p>
        </div>
    </header>
</div>

<% include partials/footer %>
