<% include ./partials/header %>
<div class="container site-content">
    <div class="new-form mx-auto">
    <!-- <form action="/login" method="post">
      <div class="form-group">
        <label for="exampleInputText">Username</label>
        <input type="text" name="username" class="form-control" id="exampleInputText" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Keep me logged in</label>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form> -->
    <form class="ui form" action="/login" method="post">
      <h1 class="ui header">Login</h1>
      <div class="field">
        <label>Username</label>
        <input type="text" name="username" id="username" placeholder="Username">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Keep me logged in</label>
        </div>
      </div>
      <button class="fluid ui button" type="submit">Login</button>
      <div class="ui error message"></div>
    </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').css('background-image', 'url("https://res.cloudinary.com/doetad8xo/image/upload/v1536453178/Mystic.png")').css('background-size', 'cover');
        $('#message-div').innerWidth($('#message-div').next().innerWidth());
    })
</script>

<% include ./partials/footer %>
