<% include ./partials/header %>
<div class="container site-content">
    <div class="new-form mx-auto">

    <form class="ui form" action="/register" method="post">
        <h1 class="ui header">Sign Up</h1>
      <div class="field required">
        <label>Username</label>
        <input type="text" name="username" id="username" placeholder="Username">
      </div>
      <div class="field required">
        <label>Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
      </div>
      <div class="field required">
        <label>Password Confirmation</label>
        <input type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Enter Again">
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Keep me logged in</label>
        </div>
      </div>
      <button class="fluid ui button" type="submit">Sign Up</button>
      <div class="ui error message"></div>
    </form>
    </div>
</div>
<script>
$(document).ready(function(){
    $('body').css('background-image', 'url("https://res.cloudinary.com/doetad8xo/image/upload/v1536453178/Mystic.png")').css('background-size', 'cover');
    $('#message-div').innerWidth($('#message-div').next().innerWidth());
    $('.ui.form')
      .form({
        fields: {
          username: ['minLength[6]', 'maxLength[20]'],
          password: ['minLength[6]', 'maxLength[20]'],
          passwordConfirmation: ['match[password]']
        }
    });

})
</script>
<% include ./partials/footer %>
