<% include ../partials/header %>
<div class="container new-form">
    <!-- <div class="row"> -->
        <h1 class="mb-3">Add a New City</h1>
        <form action="/cities" class="ui form" method="post" enctype="multipart/form-data">
            <div class="field required">
                <label for="cityName">City</label>
                <input type="text" name="city[name]" placeholder="Toronto" id="cityname" />
            </div>
            <div class="field required">
                <label for="countryName">Country/Region</label>
                <input type="text" name="city[country]" placeholder="Canada" id="country" />
            </div>
            <!-- <div class="field">
                <label for="imgURL">Image URL:</label>
                <input type="text" name="image" placeholder="Image URL" />
            </div> -->
            <!-- <div class="field">
                <label for="cityImage">Picture of the City</label>
                <div class="custom-file">
                  <input type="file" id="cityImage" name="image" accept="image/*" class="custom-file-input">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div> -->
            <div class="field">
              <label>Picture of the City</label>
              <div class="custom-file">
                  <input type="file" name="image" accept="image/*" class="custom-file-input" id="image-input">
                  <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
              <div class="mt-2 d-flex justify-content-center">
                  <canvas id="canvas" style="height: 200px;width: 300px;">Your browser does not support the HTML5 canvas element.</canvas>
              </div>
              <div class="d-flex justify-content-center">
                  <input type="button" id="btnCrop" value="Crop Photo" class="ui button mt-2" disabled />
              </div>
              <div class="mt-2 d-flex justify-content-center">
                  <img id="result" style="width:300px; height:200px; display:none;"></img>
              </div>
              <!-- <label>Banner Picture of the City</label> -->
              <div class="mt-2 d-flex justify-content-center">
                  <canvas id="canvasBanner" style="height: 136px;width: 100%;">Your browser does not support the HTML5 canvas element.</canvas>
              </div>
              <div class="d-flex justify-content-center">
                  <input type="button" id="btnCropBanner" value="Crop Banner" class="ui button mt-2" disabled />
              </div>
              <div class="mt-2 d-flex justify-content-center">
                  <img id="resultBanner" style="width:499px; height:136px; display:none;"></img>
              </div>
            </div>

            <div class="field">
              <label for="introduction">Introduction</label>
              <textarea rows="5" name="city[intro]" placeholder="What is this city like" id="introduction"></textarea>
              <small class="form-text text-muted">No longer than 250 characters.</small>
            </div>
            <div class="field">
                <label for="showName">Show Title and It's Douban ID</label>
                <div class="row addable">
                    <div class="col-sm-6">
                        <input type="text" name="show[]" placeholder="Orphan Black" />
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="douban[]" placeholder="20471761" />
                    </div>
                </div>
                <button type="button" class="medium ui button mt-1" id="addrow">Add One More</button>
                <small class="form-text text-muted">Douban ID Must be 7 - 8 Digits.</small>
            </div>

            <button class="fluid large ui secondary button" type="submit">Submit</button>
            <div class="ui error message">
        </form>
        <!-- <a href="/back">Go Back</a> -->
    <!-- </div> -->
</div>
<script type="text/javascript" src="/js/image-process.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.ui.form').form({
            fields: {
              cityname: 'empty',
              country: 'empty',
              introduction: 'maxLength[250]'
            },
            onSuccess: function(event, fields) {
              validationCallback(event, this);
            }
        });
    });
</script>
<% include ../partials/footer %>
