<% include ../partials/header %>
<div class="container new-form">
    <!-- <div class="row"> -->
        <h1 class="mb-3">Add a New City</h1>
        <form action="/cities" class="ui form" method="post" enctype="multipart/form-data">
            <div class="field required">
                <label for="cityName">City</label>
                <input type="text" name="city[name]" placeholder="Toronto" id="cityname" />
            </div>
            <div class="field required">
                <label for="countryName">Country/Region</label>
                <input type="text" name="city[country]" placeholder="Canada" id="country" />
            </div>
            <!-- <div class="field">
                <label for="imgURL">Image URL:</label>
                <input type="text" name="image" placeholder="Image URL" />
            </div> -->
            <div class="field">
                <label for="cityImage">Picture of the City</label>
                <div class="custom-file">
                  <input type="file" id="cityImage" name="image" accept="image/*" class="custom-file-input">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                  <!-- <p class="help-block">Upload a good picture of this city.</p> -->
                </div>
            </div>

            <div class="field">
              <label for="introduction">Introduction</label>
              <textarea rows="5" name="city[intro]" placeholder="What is this city like" id="introduction"></textarea>
              <small class="form-text text-muted">No longer than 250 characters.</small>
            </div>
            <div class="field">
                <label for="showName">Show Title and It's Douban ID</label>
                <div class="row addable">
                    <div class="col-sm-6">
                        <input type="text" name="show[]" placeholder="Orphan Black" />
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="douban[]" placeholder="20471761" />
                    </div>
                </div>
                <button type="button" class="medium ui button mt-1" id="addrow">Add One More</button>
                <small class="form-text text-muted">Douban ID Must be 7 - 8 Digits.</small>
            </div>

            <button class="fluid large ui secondary button" type="submit">Submit</button>
            <div class="ui error message">
        </form>
        <!-- <a href="/back">Go Back</a> -->
    <!-- </div> -->
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('input:file')
          .on('change', function(e) {
            var name = e.target.files[0].name;
            $('label.custom-file-label').text(name);
          });
        $('.ui.form')
        .form({
        fields: {
          cityname: 'empty',
          country: 'empty',
          introduction: 'maxLength[250]'
        }
        });
    });
</script>
<% include ../partials/footer %>
