body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* background-color: #4e607c; */
    /* background-size: 100% 100%;
    background-image: url('../Mystic.jpg'); */
}

.site-content {
  flex: 1;
}

ul {
  list-style-type: none;
}

p.max-lines {
  /* text-overflow: ellipsis; */
  /* word-wrap: break-word; */
  /* overflow: hidden;
  max-height: 7em; */
  line-height: 1.4em;
}

.top-to-nav {
    margin-top: 70px;
}

/* div.row-flex {
    display:flex;
    flex-wrap: wrap;
} */

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.new-form {
    width: 40%;
    border-radius: 4px;
    padding: 30px 20px;
    background: white;
}

.addable, .added {
    margin-bottom: 5px;
}

#landing-jumbotron {
    background: rgb(0, 0, 0); /* This is for ie8 and below */
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: relative;
    text-align: center;
    /* padding-top: 40vh; */
    margin-top: 20%;
    width: 100%;
}

#landing-body {
    background-image: url(https://res.cloudinary.com/doetad8xo/image/upload/v1536339700/p2181888728.jpg);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

#landing-jumbotron h1 {
    color: #fff;
}

#landing-jumbotron p {
    color: #fff;
}

/* #landing-jumbotron a {
    color: #fff;
} */

.small-lead {
    font-size: 0.8em;
}

/* #landing-jumbotron .btn {
    opacity: 0.8;
} */

.inner-row {
    margin: 10px;
    padding: 10px;
}

.headline {
    margin-top: 20px;
    margin-bottom: 10px;
}

.city-detail-image {
    width:100%;
    height: 300px;
    /* object-fit: contain; */
}

/* .poster-img {
    width: 200px;
    height: 296px;
} */

.poster {
    padding-top: 10px;
}

.banner-text {
    background: rgba(0, 0, 0, 0.6);
    margin: 20px;
    padding: 10px;
}

/* .movie-title {
    padding-top: 10px;
} */

.movie-intro {
    padding-top: 10px;
    /* padding-right: 10px; */
}

.custom-btn-group {
    padding-top: 15px;
}

.outer-row {
    margin-top:10px;
}

.table-header-left {
    text-align:left;
    font-size: 2em;
}

.table-header-right {
    float:right;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.show-detail-city-img {
    width: 300px;
    height: 15vw;
    object-fit: contain;
}

img {
    max-width: 100%;
}

#canvas, #canvasBanner {
  background-color: #ffffff;
  cursor: default;
  border: 1px solid black;
}

.card-title {
    text-align: center;
}

.custom-btn-group-center {
    text-align: center;
}

/* .page-footer {
    position: absolute;
    bottom: 0px;
} */
/*
main.container {
    width: 100%;
} */
