<% include ../partials/header %>
<div class="container new-form">
    <!-- <div class="row"> -->
        <h1 class="mb-3">Add a New Show</h1>
        <form action="/shows" class="ui form" method="post" enctype="multipart/form-data" id="new-show-form">
            <div class="field required">
                <label>Show Title</label>
                <input type="text" name="show[name]" id="showname" placeholder="Person Of Interest" />
            </div>
            <div class="field required">
                <label>Douban ID</label>
                <input type="text" name="show[douban]" id="doubanid" placeholder="5980670" />
            </div>
            <div class="field">
              <label>Poster of the Show</label>
              <div class="custom-file">
                  <input type="file" name="image" accept="image/*" class="custom-file-input" id="image-input">
                  <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
              <div class="mt-2 d-flex justify-content-center">
                  <canvas id="canvas">Your browser does not support the HTML5 canvas element.</canvas>
              </div>
              <div class="d-flex justify-content-center">
                  <input type="button" id="btnCrop" value="Crop" class="ui button mt-2" disabled />
              </div>
              <div class="mt-2 d-flex justify-content-center">
                  <img id="result" style="width:200px; height:296px; display:none;"></img>
              </div>
              <!-- <p class="help-block">Upload a poster of this show.</p> -->
            </div>
            <div class="field">
              <label>Introduction</label>
              <textarea rows="5" name="show[intro]" placeholder="What is this show about." id="introduction"></textarea>
              <small class="form-text text-muted">No longer than 300 characters.</small>
            </div>
            <button class="fluid large ui secondary button" type="submit">Submit</button>
            <div class="ui error message">
        </form>
        <!-- <a href="/back">Go Back</a> -->
    <!-- </div> -->
</div>
<script type="text/javascript">
    $(document).ready(function() {
        var canvas  = $("#canvas"),
            context = canvas.get(0).getContext("2d"),
            $result = $('#result'),
            croppedImageDataURL = null;

        // validation from semantic ui
        $('.ui.form')
        .form({
            fields: {
                showname: 'empty',
                doubanid: 'empty',
                introduction: 'maxLength[300]'
            },
            onSuccess: function(event, fields) {
                event.preventDefault();
                // console.log(this);
                // append cropped image to the form before submitting
                var imageInput = $("#image-input").val();
                if(imageInput == '') {
                    // if file is not uploaded, do nothing and submit
                    this.submit();
                } else {
                    // if file is uploaded but not cropped, default crop
                    if($result.is(":hidden") && !croppedImageDataURL) {
                        croppedImageDataURL = canvas.cropper('getCroppedCanvas').toDataURL('image/jpeg');
                    }
                    // create formdata and append cropped image to it
                    var blob = dataURItoBlob(croppedImageDataURL);
                    var fd = new FormData(document.forms[0]);
                    fd.set("image", blob);
                    this.submit();
                }
            }
        });
        // crop the image
        $('#image-input').on('change', function(){
            if (this.files && this.files[0]) {
              if ( this.files[0].type.match(/^image\//) ) {
                  var name = this.files[0].name;
                  $('label.custom-file-label').text(name);
                  $('#btnCrop').prop('disabled', false);
                  var reader = new FileReader();
                  reader.onload = function(evt) {
                   var img = new Image();
                   img.onload = function() {
                     context.canvas.height = img.height;
                     context.canvas.width  = img.width;
                     context.drawImage(img, 0, 0);
                     var cropper = canvas.cropper({
                       aspectRatio: 25 / 37
                     });
                     $('#btnCrop').click(function() {
                        // Get a string base 64 data url
                        croppedImageDataURL = canvas.cropper('getCroppedCanvas').toDataURL('image/jpeg');
                        $result.show();
                        $result.attr('src', croppedImageDataURL);
                        // console.log(croppedImageDataURL);
                     });
                     // $('#btnRestore').click(function() {
                     //   canvas.cropper('reset');
                     //   $result.empty();
                     // });
                   };
                   img.src = evt.target.result;
        				};
                reader.readAsDataURL(this.files[0]);
              }
              else {
                alert("Invalid file type! Please select an image file.");
              }
            }
            else {
              alert('No file(s) selected.');
            }
        });

        function dataURItoBlob(dataURI) {
            // convert base64/URLEncoded data component to raw binary data held in a string
            var byteString = atob(dataURI.split(',')[1]);

            // write the bytes of the string to a typed array
            var ia = new Uint8Array(byteString.length);
            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }
            return new Blob([ia], {type:'image/jpeg'});
        }
    });
</script>
<% include ../partials/footer %>
