<% include ../partials/header %>
<div class="container new-form">
    <!-- <div class="row"> -->
        <h1 class="mb-3">Add a New Show</h1>
        <form action="/shows" class="ui form" method="post" enctype="multipart/form-data">
            <div class="field required">
                <label>Show Title</label>
                <input type="text" name="show[name]" id="showname" placeholder="Person Of Interest" />
            </div>
            <div class="field required">
                <label>Douban ID</label>
                <input type="text" name="show[douban]" id="doubanid" placeholder="5980670" />
            </div>
            <div class="field">
              <label>Poster of the Show</label>
              <div class="custom-file">
                  <input type="file" name="image" accept="image/*" class="custom-file-input">
                  <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
              <!-- <p class="help-block">Upload a poster of this show.</p> -->
            </div>
            <div class="field">
              <label>Introduction</label>
              <textarea rows="5" name="show[intro]" placeholder="What is this show about." id="introduction"></textarea>
              <small class="form-text text-muted">No longer than 300 characters.</small>
            </div>
            <button class="fluid large ui secondary button" type="submit">Submit</button>
            <div class="ui error message">
        </form>
        <!-- <a href="/back">Go Back</a> -->
    <!-- </div> -->
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('input:file')
          .on('change', function(e) {
            var name = e.target.files[0].name;
            $('label.custom-file-label').text(name);
          });
        $('.ui.form')
        .form({
          fields: {
            showname: 'empty',
            doubanid: 'empty',
            introduction: 'maxLength[300]'
          }
        });
    });
</script>
<% include ../partials/footer %>
